/* Write your CSS here */

.container {
  background-color: #1e293b;
  background-size: cover;
  height: 100vh;
  font-family: 'Bree Serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-size: 42px;

  font-weight: 900;
  margin: 25px;
}

.para {
  color: #ffffff;
  font-size: 24px;

  font-weight: 300;
  margin-bottom: 10px;
}

.button {
  background-color: #ffffff;
  font-size: 14px;
  color: #1e293b;
  height: 40px;
  width: 120px;
  margin-top: 10px;
}
